<%- include("./include/headfile.ejs") %>


<%- include("./include/navbar.ejs") %>
<%- include("./include/flash.ejs") %>



<div style="background-color: cadetblue;height: 70vh;width: 90%;border-radius: 40px;margin-top: 7vh;margin-left: 5%;
display: flex;flex-direction: column;align-items: center;justify-content: space-around;">
    <h1 style="text-shadow: 5px 5px 10px aquamarine;font-family: 'Algerian';">CHATBOX</h1>
<div style="background-color: aquamarine;height: 50vh;width: 90%;border-radius: 40px;">
<p style="font-size:large;padding: 5%;text-shadow: 5px 5px 10px;">
    Chatbox is an open-source web app for real-time chatting, built by Shivang. It enables 
    seamless communication with a simple, user-friendly interface. Supporting instant messaging,
     group chats, and multimedia sharing, it is a versatile platform designed for smooth and efficient online conversations.
</p>
</div>
</div>
<a class="btn btn-outline-dark offset-5 col-2 mt-3" href="/chatbox/login">GET STARTED </a>


</body>
<script src="/code.js"></script>
</html>