<nav class="navbar  fixed-bottom" style="height: 10vh;background-color: silver !important;">
  <div class="container-fluid">
    <form action="/chatbox/new"|| method="post" class="d-flex offset-3 col-5" >
      <input placeholder="MESSAGE..." name="msg" class="form-control me-2 " type="text" >
      <button class="btn btn-outline-success" type="submit">SEND</button>
    </form>
  </div>
</nav>